
body {
  background-color: rgb(182, 212, 182)
}
h1{
  font-family: 'Times New Roman' , Times, serif;
  background-color: rgb(146, 182, 146);
  border-radius: 65px;
  text-align: center;
}

h2 {
  font-size: 20px;
  margin-top: 90px;
  margin-bottom: 90px;
  text-align: center;

}

h3 {
  font-size: 15px;
  text-align: center;
  margin: 10px;
}


