
body {
  background-color: rgb(182, 212, 182)
}
h1{
  font-family: 'Times New Roman' , Times, serif;
  background-color: rgb(146, 182, 146);
  border-radius: 65px;
  text-align: center;
  color: rgb(47, 70, 47);
}

h2 {
  font-size: 19px;
  margin-top: 90px;
  margin-bottom: 90px;
  text-align: center;
  color: rgb(240, 245, 239)
}

h3 {
  font-size: 19px;
  text-align: center;
  margin: 10px;
}



ol {
  font-size: 19px;
  text-align: left;
  margin: 5px;
  color:rgb(47, 70, 47);
  background-color: rgb(154, 187, 154);
}
